---
compute-infra_hosts:
  controller1:
    ip: {{ networks.api.ip.controller1 }}

compute_hosts:
  compute1:
    ip: {{ networks.api.ip.compute1 }}
  compute2:
    ip: {{ networks.api.ip.compute2 }}
